<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindConnecting Select Subject</title>
    <link href="static/css/select_subject.css" rel="stylesheet" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" media="all">

    <script>
        function do_search() {
            // 선택한 select box 값, 입력한 값 가져오기
            let select = $(".select").val();
            let search = $(".search").val();

        }
<!--            let what = document.getElementById("search");-->
<!--                if (what != null) {-->
<!--                    alert(what.value);-->
<!--                }-->
        }

<!--        let what = document.getElementById("search");-->

<!--        alert(what.value);-->

<!--        $(".btn").click(function() {-->


<!--                if (what == "sbjNo") {-->
<!--                    let sbjNo = $("sbjNo").val();-->
<!--                } else if (what == "sbjNm") {-->
<!--                    let sbjNm = $("sbjNm").val();-->
<!--                } else if (what == "profNm") {-->
<!--                    let profNm = $("profNm").val();-->
<!--                }-->

<!--                alert($(this).attr('value'));-->

<!--                // 검색조건 중 어느것도 입력하지 않았을 때 alert-->
<!--                if (sbjNo == "" && sbjNm == "" && profNm == "") {-->
<!--                    alert("학수번호 / 과목명 / 교수명 중 하나라도 입력하세요");-->
<!--                    $("#search").focus;-->
<!--                };-->
<!--            });-->
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        .search {
            width: 200px;
            padding: .8em  .5em;
            border: 1px solid #999;
            font-family: inherit;
            background: url('arrow.jpg') no-repeat 95% 50%;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    }
        body {
            width: 100%;
            margin: 10px auto;
        }
        .margin {   height: 50px;   }
        #middle {   overflow: hidden;   }
        #left { float: left;    width: 50%;   }
        #right {    float: right;   width: 50%;   }
    </style>
</head>

<body>
    <p>
        <nav class="navbar navbar-expand-sm bg-primary">
            <div class="card-body">
                <a class="nav-link" href="main.html" style="font-size: 18px; color: white; width:200px; height: 30px"  >MIND CONNECTING</a>
            </div>

    <!--    <nav class="navbar navbar-expand-sm bg-blue">-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login.html" style="color: white">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="joinus.html" style="color: white">register</a>
                </li>
            </ul>
        </nav>

        <div class="margin"></div>

        <div id="middle" class="workspace" >
            <div id="left" class="sbj_list">
                <div id="left-top" align="center" border="1">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <select class="select">
                                    <option value="">- 전체 -</option>
                                    <option value="sbjNo">학수번호</option>
                                    <option value="sbjNm">교과목명</option>
                                    <option value="profNm">교수명</option>
                                </select>
                            <td></td>
                            <td>
                                <input class="search" type="text">
                            </td>
                            <td></td>
                            <td>
                                <button class="search-btn" onclick="do_search()" style="text-align: center; vertical-align: middle;">조회</button>
                            </td>
                        </tr>
                    </table>
        </div>
            </div>

            <div id="right" class="timetable">
                <table cellspacing="5" align="center" border="1" bordercolor="#5CD1E5" width="550" height="600">
                    <tr align="center">
                        <td width="50"></td>
                        <td width="100">MON</td>
                        <td width="100">TUE</td>
                        <td width="100">WED</td>
                        <td width="100">THU</td>
                        <td width="100">FRI</td>
                    </tr>

                    <tr align="center">
                        <td>1</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>2</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>3</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>4</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>5</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>6</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>7</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>8</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>9</td>
                        <?= ?>
                    </tr>
                </table>
            </div>
        </div>

</body>
</html>
<?php ?>