<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MindConnecting Select Subject</title>
    <link href="static/css/select_subject.css" rel="stylesheet" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" media="all">

   <script>
        $(document).ready(function() {
            showSearchingResult();
        });


        function makeSearch() {
            // 사용자가 [교과목명/교수명] 중 선택한 옵션과 그 내용을 가져온다.
            let select_option = $("#select_option").val();
            let what = $("#search").val();

            // 두 내용이 입력되지 않았을 때 alert
            if (option == "") {
                alert("옵션을 선택하세요");
                $("#select_option").focus();
                return;
            } else if (content ="") {
                alert("검색어를 입력하세요");
                $("#search").focus();
                return;
            }

            console.log(select_option, what)

            // 옵션과 검색어를 서버에 보낸다.
            $.ajax({
                type: "POST",
                url: "/search_post",
                data: {
                    "select_option": select_option,
                    "what": what
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["search success"]);
                        window.location.reload();
                    } else if (response["result"] == "fail") {
                        alert(response["msg"]);
                    }
                }
            }
        }

        function showSearchingResult() {
            conlose.log("showSearchingResult");

            $.ajax({
                type: "GET",
                url: "/select_subject",
                data: {},
                success: function (response) {
                    console.log(response, "RESPONSE")
                    if (response["result"] == "success") {
                        let results = response["items"];

                        for (let i = 0; i < results.length; i++) {
                            console.log(results[i]);
                            makeList(results[i]["subject"], results[i]["professor"], results[i]["time_location"], results[i]["code"], results[i]["campus"])
                        }
                    } else if (response["result"] == "fail") {
                        alert("검색 실패");
                    }
                }
            })
        }

        function makeList(subject, professor, time_location, code, campus){
            let tempHtml = `<tr>
                        <td>${subject}</td>
                        <td>${professor}</td>
                        <td>${time_location}</td>
                        <td>${code}</td>
                        <td>${campus}</td>
                        </tr>`;
            $("#left").append(tempHtml);
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        .search {
            width: 200px;
            padding: .8em  .5em;
            border: 1px solid #999;
            font-family: inherit;
            background: url('arrow.jpg') no-repeat 95% 50%;
            border-radius: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    }
        body {
            width: 100%;
            margin: 10px auto;
        }
        .margin {   height: 50px;   }
        #middle {   overflow: hidden;   }
        #left { float: left;    width: 50%;   }
        #right {    float: right;   width: 50%;   }
    </style>
</head>

<body>
    <p>
        <nav class="navbar navbar-expand-sm bg-primary">
            <div class="card-body">
                <a class="nav-link" href="main.html" style="font-size: 18px; color: white; width:200px; height: 30px"  >MIND CONNECTING</a>
            </div>

    <!--    <nav class="navbar navbar-expand-sm bg-blue">-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login.html" style="color: white">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="joinus.html" style="color: white">register</a>
                </li>
            </ul>
        </nav>

        <div class="margin"></div>

        <div id="middle" class="workspace" >
            <form action="/select_subject" method="post">
                <div id="left" class="sbj_list">
                    <div id="left-top" align="center" border="1">
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <select class="select_option" name="select_option">
                                        <option value="">- 전체 -</option>
                                        <option value="sbjNm">교과목명</option>
                                        <option value="profNm">교수명</option>
                                    </select>
                                <td></td>
                                <td>
                                    <input class="search" type="text" name="what">
                                </td>
                                <td></td>
                                <td>
                                    <button class="search-btn" type="submit" onclick="makeSearch()" style="text-align: center; vertical-align: middle;">조회</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>

            <div id="right" class="timetable">
                <table cellspacing="5" align="center" border="1" bordercolor="#5CD1E5" width="550" height="600">
                    <tr align="center">
                        <td width="50"></td>
                        <td width="100">MON</td>
                        <td width="100">TUE</td>
                        <td width="100">WED</td>
                        <td width="100">THU</td>
                        <td width="100">FRI</td>
                    </tr>

                    <tr align="center">
                        <td>1</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>2</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>3</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>4</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>5</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>6</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>7</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>8</td>
                        <?= ?>
                    </tr>
                    <tr align="center">
                        <td>9</td>
                        <?= ?>
                    </tr>
                </table>
            </div>
        </div>

</body>
</html>
<?php ?>